@model digitization.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
    Layout = "_AccountLayout";
}
<h2>Изменение пароля для пользователя @Model.Email</h2>
<br />
<br />
<br />
<div class="card bg-transparent" style="width:100%; text-align:center">
    <form method="post" asp-action="ChangePassword" asp-controller="Account">
        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />

        <div class="form-group">
            <br />
            <h5 style="color:white">Новый пароль для пользователя: @Model.Email</h5>
            <br />
            <label asp-for="Password" style="color:white"></label><br />
            <input asp-for="Password" style="width:250px;" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-light" />
        </div>
    </form>
</div>