@model digitization.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_AccountLayout";
}
<br />
<br />
<br />
<div class="card bg-transparent" style="width:100%; text-align:center">
    <form method="post" asp-controller="Account" asp-action="Login"
            asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Email" style="color:white"></label><br />
            <input asp-for="Email" style="width:250px;"  />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password" style="color:white"></label><br />
            <input asp-for="Password" style="width:250px;" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <br />
            <input type="submit" class="btn btn-outline-light btn-sm" style="width:250px; color:white;" value="Войти" />
        </div>
    </form>
</div>
