@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
<link href="~/dist/css/styleTree.css" rel="stylesheet" />

<div class="card md-2">

    @if(User.Claims.Any(r => r.Value == digitization.Services.RoleService.AdminRole))
    {
        <div class="card-header local-header d-flex align-items-center justify-content-between ">
            <h3 class="grid-text">Заказы</h3>
            <a class="btn btn-primary d-block" href="Orders/Create">Создать</a>
        </div>
    }
    else
    {
        <div class="card-header bg-white d-flex align-items-center justify-content-between mt-2">
            <h4>Заказы</h4>
        </div>
    }

    <div class="card mb-2">
        <div class="table-responsive card-body">
            <table id="cbdtable" class="table table-hover bg-white border p-2" style="font-weight: 400; font-size: 80%">

                <thead>
                    <tr class="table-borderless p-2">
                        <th>
                            ФИО клиента
                        </th>
                        <th>
                            Номер телефона клиента
                        </th>
                        <th>
                            Марка автомобиля
                        </th>
                        <th>
                            Модель автомобиля
                        </th>
                        <th>
                            Инструкция по ремонту
                        </th>
                        <th>
                            Цена
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function remove(id){
            Swal.fire({
                title: 'Уверены, удалить?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Отменить',
                confirmButtonText: 'Удалить!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Orders/Delete?id=' + id,
                        type: 'DELETE',
                        async: false,
                        success: function(result) {
                            Swal.fire(
                                'Удалено!',
                            )
                        }
                    });
                    window.location.reload();
                }
            })
        }

        $(document).ready(function () {
            let table = $("#cbdtable").DataTable({
                language: {
                    url: "/Russian.json"
                },
                ordering: false,
                autoWidth: true,
                processing: true,
                serverSide: true,
                searching: false,
                fixedHeader: true,
                colReorder: true,
                pageLength:10,
                ajax: {
                    url: "/Orders/LoadTable",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: function (data) {
                        return JSON.stringify(data);
                    }
                },

                columns: [
                    { data: "clientFIO", orderable: false },
                    { data: "clientPhoneNumber", orderable: false },
                    { data: "carBrand", orderable: false },
                    { data: "carModel", orderable: false },
                    { data: "repairInstructions", orderable: false },
                    { data: "price", orderable: false },
                    {
                        data: 'roadMaps',
                        orderable: false,
                        sWidth:"100px",
                        render: (data, type, row, meta) => {
                            if (data.length == 0) return "";
                            else {
                                var res = '';
                                data.forEach(a => {
                                    res += '<a class="btn btn-sm dropdown-item" href="Orders/Movement?id=' + a.entityId + '&roadMapId=' + a.id + '">';
                                    res += a.reason.name
                                    res += '</a>';
                                })

                                @{<text>
                                    return `
                                    <div class="col-2 d-flex justify-content-left align-items-center">
                                        <div class="dropdown">
                                            <button class="btn btn-success dropdown-toggle btn-sm mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Действия
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">` +
                                                res
                                        + `</div>
                                        </div>
                                    </div>
                                            `
                                </text>}    
                            }
                        }
                    },
                    {
                        data: 'id',
                        orderable: false,
                        sWidth:"100px",
                        render: (data, type, row, meta) => {
                        @{<text>
                            return `
                                @if(User.Claims.Any(r => r.Value == digitization.Services.RoleService.AdminRole))
                                {
                                    <div class="row">
                                        <div class="mb-1 d-flex">
                                            <a href="/Orders/Edit?id=` + data + `" class="badge badge-primary mr-1" style="font-weight: 400;  font-size:100%"><i class="fa fa-edit"></i></a>
                                            <span onclick="remove(` + data + `)" class="badge badge-primary mr-1" style="font-weight: 400;  font-size:100%" color: white;><i class="fa fa-trash"></i></span>
                                            <a href="/Orders/Details?id=` + data + `" class="badge badge-primary" style="font-weight: 400;  font-size:100%">Просмотр</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="mb-1 d-flex">
                                            <a href="/Orders/Details?id=` + data + `" class="badge badge-primary" style="font-weight: 400;  font-size:100%">Просмотр</a>
                                        </div>
                                    </div>
                                }
                                    `
                        </text>}
                        }
                    },
                ]
            });
        });
    </script>
}